#xl-home-root-container {
}

#xl-home-bottom-container {
}

#xl-home-launch-button {
	-fx-pref-width: 150.0;
	-fx-pref-height: 50.0;
	-fx-text-alignment: center;
}

#xl-home-tile-root-container {
	-fx-padding: 5.0 0.0 30.0 0.0;
}

#xl-home-tile-container {
	-fx-spacing: 5.0;
	-fx-alignment: top-right;
	-fx-padding: 0.0 0.0 5.0 0.0;
}
