.xl-sidebar-tile {
	-fx-padding: 5.0;
	-fx-pref-height: 60.0;
	-xl-no-effect-pos: center-right;
}

.xl-sidebar-tile-unexpanded {
	-fx-pref-width: 60.0;
	-fx-content-display: graphic-only;
}

.xl-sidebar-tile-expanding {
	-fx-content-display: left;
	-fx-ellipsis-string: '';
}

.xl-sidebar-tile-expanded {
	-fx-content-display: left;
	-fx-ellipsis-string: '...';
}

.xl-sidebar-tile-management {
	-fx-padding: 5.0;
	-fx-pref-width: 60.0;
	-fx-pref-height: 60.0;
	-fx-content-display: left;
	-fx-alignment: center;
	-xl-no-effect-pos: center-right;
}
