.button:default {
    -fx-background-color: #b85658;
}

.check-box:selected .mark {
    -fx-background-color: #b85658;
}

.check-box:indeterminate .mark {
    -fx-background-color: #b85658;
}

.check-box:armed .box {
    -fx-background-color: white, #cd5c5e;
}

.radio-button:selected .dot {
    -fx-background-color: #cd5c5e;
}

.radio-button:pressed:selected .dot {
    -fx-background-color: #cd5c5e;
}

.radio-button:armed .dot {
    -fx-background-color: #cd5c5e;
}

.radio-button:focused:armed .radio {
    -fx-background-color: #cd5c5e;
}

.combo-box-popup > .list-view .list-cell:filled:selected {
    -fx-background-color: #dd6365;
}

.combo-box-popup > .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #dd6365;
}

.text-input {
    -fx-highlight-fill: #dd6365;
}