#xl-default-frame-shadow-container,
#xl-default-sidebar-root-container,
#xl-default-sidebar-functional-tile-container,
#xl-default-sidebar-sidebar-container,
#xl-default-sidebar-user-profile-container,
#xl-panel-root-container,
#xl-panel-content-container,
#xl-theme-tile-root-container,
#xl-theme-tile-content-container {
    -fx-background-color: transparent;
}

#xl-download-group-item-name-label {
    -fx-font-size: 24;
    -fx-text-fill: whitesmoke;
}

#xl-download-group-item-status-label {
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
}

#xl-theme-tile-name-label {
    -fx-text-fill: whitesmoke;
}

#xl-game-version-group-mcdir-path-label {
    -fx-text-fill: lightgrey;
    -fx-font-style: italic;
    -fx-font-size: 18;
}

#xl-mcpath-editor {
    -fx-font-size: 18;
}

.xl-theme-tile {
    -fx-background-color: transparent;
}

.xl-version-tags-snapshot {
    -fx-background-color: #c40003;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 8;
}

.xl-version-tags-beta {
    -fx-background-color: #3a9fc4;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 8;
}

.xl-version-tags-alpha {
    -fx-background-color: #9c6228;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 8;
}
