#default-frame-shadow-container,
#default-sidebar-root-container,
#default-sidebar-functional-tile-container,
#default-sidebar-sidebar-container,
#default-sidebar-user-profile-container,
#panel-root-container,
#panel-content-container {
    -fx-background-color: transparent;
}

#content-panel-title-label {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 26;
}

#content-panel-previous-button {
    -fx-text-fill: transparent;
}

#tile {
    -fx-text-fill: whitesmoke;
}

#download-group-item-name-label {
    -fx-font-size: 24;
    -fx-text-fill: whitesmoke;
}

#download-group-item-status-label {
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
}

#displayable-item-tile-text-label {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
}

#displayable-item-tile-root-container {
    -fx-background-color: transparent;
}