#default-frame-root-container {
    -fx-border-width: 0.4;
    -fx-border-color: black;
}

#close-window-button:hover, #minimize-window-button:hover {
    -fx-background-color: #d1d6e1;
    -fx-tooltip-visible: false;
}

#default-title-bar {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

#default-title-bar-unfocused {
    -fx-background-color: #a5a5a5;
    -fx-text-fill: #cdcdcd;
}

/*
 * Panel
 */
#content-panel-title-label {
    -fx-text-fill: white;
    -fx-font-size: 26;
}

#content-panel-previous-button {
    -fx-text-fill: transparent;
    -fx-background-image: "/ui/img/previous_button.png";
}

#content-panel-previous-button:hover {
    -fx-background-image: "/ui/img/previous_button_hover.png";
}