/* 
    Document   : JMetroLightTheme
    Created on : Oct 16, 2012, 6:28:59 PM
    Author     : Pedro Duque Vieira
    Description:
        Light Metro style sheet for use in JavaFX applications
    MODIFIED BY DARKYOOOOOO (TO2MBN)
    SOME OF THE FOLLOWING CSS-ES WERE WRITTEN BY @Herudi
*/

.root {
    -fx-font-family: "Segoe UI", "Microsoft Yahei", "Ubuntu", "Hiragino Sans GB", "WenQuanYi Zen Hei", Arial, sans-serif;
}

.background {
    -fx-background-color: white;
}

.header {
    -fx-font-size: 42pt;
    -fx-text-fill: black;
}

.item-title {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.button {
    -fx-background-radius: 0;
    -fx-background-color: #b6b6b6;
    -fx-text-fill: #252525;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-opacity: 0.8;
}

.button:hover {
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: #6f6f6f;
}

.button:pressed {
    -fx-background-color: #7a7a7a;
}

.button:default {
    -fx-text-fill: white;
}

.button:default:hover {
    -fx-border-style: none;
    -fx-border-width: 2;
    -fx-border-color: rgba(255, 255, 255, 0.75);
}

.button:default:hover:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.75);
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.5;
    -fx-background-color: rgba(255, 255, 255, 0.83);
    -fx-text-fill: #9b9b9b;
}

.toggle-button {
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-background-color: #cccccc;
    -fx-font-size: 12pt;
    -fx-text-fill: black;
}

.toggle-button:focused {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.toggle-button:hover {
    -fx-background-color: #d8d8d8;
    -fx-text-fill: black;
}

.toggle-button:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.toggle-button:selected:hover {
    -fx-background-color: #666;
    -fx-text-fill: white;
}

.toggle-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.check-box {
    -fx-text-fill: black;
}

.check-box .box {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #818181;
    -fx-border-width: 2;
    -fx-padding: 1;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0;

    -fx-padding: 7px;
    -fx-shape: "M1,10L3,8L7,12L14,5L16,7L7,16Z"
}

.check-box:hover .box {
    -fx-border-color: #666666;
}

.check-box:indeterminate .mark {
    -fx-background-insets: 2.8;
    -fx-padding: 7px;
    -fx-shape: null;
}

.check-box:disabled {
    -fx-opacity: 0.5;
}

.check-box:disabled .box {
    -fx-background-color: #cdcdcd;
    -fx-border-color: #aaa;
}

.check-box:armed .box {
    -fx-background-insets: -1, 2;
    -fx-background-radius: 0, 0;
}

.check-box:armed .box .mark {
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    -fx-text-fill: #212121;
}

.radio-button .radio {
    -fx-background-color: white;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    -fx-border-radius: 1.0em;
    -fx-border-color: #bababa;

    -fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */
}

.radio-button:hover .radio {
    -fx-border-color: #919191;
}

.radio-button .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 6px; /* 3 -- radius of the inner black dot when selected */
}

.radio-button:disabled {
    -fx-opacity: 0.5;
}

.radio-button:disabled .radio {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #d9d9d9;
}

.radio-button:focused .radio {
    -fx-background-color: white;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;
    -fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */
}

.radio-button:armed .radio {
    -fx-border-style: hidden;
}

.radio-button:pressed .radio {
    -fx-border-style: hidden;
}

.radio-button:focused:armed .radio {
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;
    -fx-padding: 5px; /* 4 -- padding from outside edge to the inner black dot */
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

/*.tooltip {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;  4 8 4 8 
    -fx-effect: dropshadow( one-pass-box , #808080 , 5, 0.0 , 0 , 0 );
    -fx-font-family: "Segoe UI Semilight", "Segoe UI Light", "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #949494;
}

.page-corner {
    -fx-padding: 4.5 4.5 4.5 4.5;
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-effect: null;
}*/

/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/

.context-menu {
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.333333em 0em 0.333333em 0em; /* 4 1 4 1 */

    /* TODO: the border color below is not being respected - it appears as gray instead of black*/
    -fx-border-color: #212121;
    -fx-border-style: solid;
}

.context-menu .separator .line {
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em; /*0 4 0 4 */
    -fx-border-style: solid;
    -fx-background-color: #c2c2c2;
    -fx-border-width: 0.5;
}

/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar .thumb {
    -fx-background-color: #cdcdcd;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .thumb:hover {
    -fx-color: #dadada;
}

/* The following is not working. Maybe related to RT-10521*/
.scroll-bar .thumb:pressed {
    -fx-background-color: #606060;
}

.scroll-bar .track {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .track-background {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.25em; /* 3 */
}

.scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover {
    -fx-background-color: #c7c7c7;
}

.scroll-bar .increment-button:pressed, .scroll-bar .decrement-button:pressed {
    -fx-background-color: #606060;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: #606060;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: #606060;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.scroll-bar .increment-button:pressed .increment-arrow {
    -fx-background-color: #c7c7c7;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #606060;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #606060;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

.scroll-bar .decrement-button:pressed .decrement-arrow {
    -fx-background-color: #c7c7c7;
}

.scroll-bar:disabled {
    -fx-opacity: 0.5;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-color: transparent, -fx-background;
}

.scroll-pane .corner {
    -fx-background-color: white, #f0f0f0;
}

/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.combo-box-base {
    -fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
    -fx-border-color: #afafaf;
    -fx-border-width: 2;
}

.combo-box-base:hover {
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-border-color: #7d7d7d;
}

.combo-box-base:disabled {
    -fx-opacity: 0.5;
}

/* ------- OPEN BUTTON ------- */
.combo-box-base .arrow-button {
    -fx-background-color: transparent, transparent, white;
}

/* ------- ARROW* ------- */
.combo-box-base .arrow {
    -fx-padding: 3 4 3 4;
    -fx-shape: "M1012.1 247.7c-15.8-15.8-41.4-15.8-57.2 0L512 690.6 69.1 247.7c-15.8-15.8-41.4-15.8-57.2 0-15.8 15.8-15.8 41.4 0 57.2l471.5 471.5c7.9 7.9 18.2 11.8 28.6 11.8s20.7-3.9 28.6-11.8l471.5-471.5C1027.8 289.1 1027.8 263.5 1012.1 247.7z";
}

/* TODO: 视情况完善修改 */
.combo-box-popup > .list-view {
    -fx-border-color: #9b9b9b;
    -fx-border-width: 1;
    -fx-background-color: #909090, -fx-control-inner-background;
    -fx-effect: none;
}

.combo-box-popup > .list-view .list-cell:hover {
    -fx-background-color: #c3c3c3;
    -fx-text-fill: #1d1d1d;
}

.combo-box-popup > .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed {
    -fx-background-color: #afafaf;
    -fx-text-fill: #1d1d1d;
}

/*******************************************************************************
 *                                                                             *
 * ListSpinner (Jfxtras)                                                       *
 *                                                                             *
 ******************************************************************************/

.list-spinner {
    -fx-skin: "jfxtras.labs.internal.scene.control.skin.ListSpinnerCaspianSkin";
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-padding: 0em 0em 0em 0em;
    -fx-text-fill: #212121;
}

.list-spinner:hover {
    -fx-color: #f0f0f0;
}

/*.ListSpinner:focused { 
    -fx-color: -fx-focused-base;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 6.4, 5, 4, 3;	
}*/

.list-spinner .value-pane {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.list-spinner .decrement-button, .list-spinner .increment-button {
    -fx-background-color: #f0f0f0;
    -fx-padding: 1.2500em 0.5000em 1.2500em 0.5000em; /* 15 6 15 6*/
}

.list-spinner .left-arrow {
    -fx-shape: "M301,415.5l-4.5,4.5l4.5,4.5h-3l-4.5-4.5l4.5-4.5H301z";
    -fx-scale-shape: false;
}

.list-spinner .decrement-button:hover {
    -fx-background-color: #dadada;
}

.list-spinner .decrement-button:pressed {
    -fx-background-color: #606060;
}

.list-spinner .decrement-button:pressed .left-arrow {
    -fx-background-color: white;
}

.list-spinner .right-arrow {
    -fx-shape: "M296.5,415.5l4.5,4.5l-4.5,4.5h-3l4.5-4.5l-4.5-4.5H296.5z";
    -fx-scale-shape: false;
}

.list-spinner .increment-button:hover {
    -fx-background-color: #dadada;
}

.list-spinner .increment-button:pressed {
    -fx-background-color: #606060;

}

.list-spinner .increment-button:pressed .right-arrow {
    -fx-background-color: white;
}

.list-spinner .down-arrow {
    -fx-shape: "M292.5,416.25l4.5,4.5l4.5-4.5v3l-4.5,4.5l-4.5-4.5V416.25z";
    -fx-scale-shape: false;
}

.list-spinner .up-arrow {
    -fx-shape: "M292.5,420.75l4.5-4.5l4.5,4.5v3l-4.5-4.5l-4.5,4.5V420.75z";
    -fx-scale-shape: false;
}

.list-spinner:disabled {
    -fx-opacity: .4;
}

.text-input {
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-border-color: #afafaf;
    -fx-prompt-text-fill: #818181;
}

.text-input:hover {
    -fx-border-color: #666666;
}

.text-input:focused {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box-base > .text-input {
    -fx-border-style: hidden;
}

.text-input > .right-button {
    -fx-cursor: default;
    -fx-background-insets: -0.1666665em -0.45em -0.1666665em -0.45em; /* 4 7 4 7 -> this values are subtracted by 2px in em because of the border of the textfield */
}

.menu-bar {
    -fx-background: -fx-accent;
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #212121;
    -fx-font-size: 12px;
    -fx-border-color: #f0f0f0;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 0.666666em 0.999999em 0.4999995em 0.999999em; /*6 12 6 12 */
}

.menu-item .label {
    -fx-text-fill: #212121;
    -fx-font-size: 12px;
}

.menu-item:focused {
    -fx-background: -fx-accent;
    -fx-background-color: #dedede;
}

.menu-item:pressed {
    -fx-background-color: #193555;
    -fx-text-fill: white;
}

.menu-item:pressed .label {
    -fx-text-fill: white;
}