<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/lolixl-description-plugin&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/lolixl-i18n&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/lolixl-init&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/lolixl-modules&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/lolixl-package&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/lolixl-parent&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/lolixl-plugin-manager&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/lolixl-ui&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/lolixl-utils&quot; type=&quot;4&quot;/&gt;&#10;&lt;/resources&gt;}"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/bin/bash"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="full,incremental,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-c&#10;&quot;mvn install -Dgpg.passphrase=`zenity --password --title=maven-gpg-plugin`&quot;"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/lolixl-parent}"/>
</launchConfiguration>
