.label {
	-fx-font-family: "Segoe UI", Helvetica, "Ubuntu Mono", Arial, sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	-fx-font-weight: 500;
}

.h1 {
	-fx-font-size: 36.0px
}

.h2 {
	-fx-font-size: 30.0px
}

.h3 {
	-fx-font-size: 24.0px
}

.h4 {
	-fx-font-size: 18.0px
}

.h5 {
	-fx-font-size: 14.0px
}

.h6 {
	-fx-font-size: 12.0px
}

.alpha-scrollpane {
	-fx-hbar-policy: never;
	-fx-vbar-policy: never;
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
}

.alpha-scrollpane > .viewport {
	-fx-background-color: transparent;
}
